<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Hello {{ user.first_name }}! Create a trip!</h1>
    <a href="/logout">Logout</a>
    <a href="/trips/new_trips" class="btn btn-primary">Create a new trip!</a>
    <h3>Your trips:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Destination</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Plan</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in my_trips %}
            <tr>
                <td> <a href="/trips/{{ trip.id }}">{{ trip.destination}}</a></td>
                <td>{{ trip.start_date}}</td>
                <td>{{ trip.end_date}}</td>
                <td>{{ trip.plan}}</td>
                <td>{% if trip.creator.id == user.id %}
                    <a href="/trips/{{ trip.id }}/destroy">Remove</a>|
                    <a href="/trips/{{ trip.id }}/edit_trip">Edit</a>
                    {% else %}
                    <a href="/trips/{{ trip.id }}/leave">Cancel</a>

                    {% endif %}


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Others Trips:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Destination</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Plan</th>
                <th scope="col">Want to Join?</th>
            </tr>
        </thead>
        <tbody>
            {% for other in others %}
            <tr>
                <td> <a href="/trips/{{ other.id }}">{{ other.destination}}</a></td>
                <td>{{ other.start_date}}</td>
                <td>{{ other.end_date}}</td>
                <td>{{ other.plan}}</td>
                <td><a href="/trips/{{ other.id }}/join">Join</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>








</body>

</html>